/HNF1A_rep1_ENCFF397BTX.bigWig
/HNF1A_rep2_ENCFF502ACF.bigWig
/KMT2A_ENCFF406SHU.bigWig
/KMT2A_peaks_ENCFF960SAF.bed
/KMT2A_peaks_ENCFF960SAF_srt.bed
/KMT2A_peaks_ENCFF960SAF_srt_SE.bed
/KMT2B_ENCFF709UTL.bigWig
/gencode.v42.annotation.gff3
/gencode.v42.annotation_tss.bed
/roi.bed
/roi_.bed
/cfgqcqdawl.bed
